body {
  background: #f9f7fe;
  font-family: "Roboto", serif;
}

a {
  color: #f76b8a;
}

.search-function {
  background-color: #ffcbcb;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 16px;
}

.weather-app {
  background-color: #ffcbcb;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  text-align: center;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.weather-city {
  font-size: 50px;
}

.date-time {
  font-size: 35px;
}

.search-bar {
  background-color: #f9f7fe;
  border: none;
  border-radius: 5px;
  width: 75%;
  font-size: 18px;
  padding: 15px 20px;
}

.search-button {
  background: #f9f7fe;
  padding: 15px 30px;
  border: none;
  font-size: 18px;
  font-weight: bolder;
  margin-left: 10px;
  border-radius: 5px;
}

p {
  font-size: 25px;
}

.humidity {
  font-weight: bold;
  color: #f76b8a;
}

.wind-speed {
  font-weight: bold;
  color: #f76b8a;
}

.temp-details {
  display: flex;
  margin-left: 200px;
}

.temp-icon {
  width: 88px;
}
.temp-value {
  font-size: 56px;
  font-weight: bold;
  margin-left: 10px;
  line-height: 88px;
}
.temp-unit {
  font-size: 22px;
  margin-top: 10px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
}

.weather-forecast-icon {
  width: 100%;
  text-align: center;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #f76b8a;
  display: flex;
  justify-content: center;
}

.weather-forecast-temp-max {
  padding: 0 10px;
  font-weight: bold;
}
.weather-forecast-temp-min {
  padding: 0 10px;
}
footer {
  border-top: 1px solid #f9f7fe;
  padding: 15px 0 0 0;
  text-align: center;
  font-size: 18px;
}
